/*@import url("https://use.typekit.net/isx8per.css");*/

@font-face{
    src: url(font/Ailerons-Typeface.otf);
    font-family: ailerons;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #101124;
    font-family: ailerons;
    color: #03045F;
    
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

p{
    font-family: Biome;
}
/*----------NAVBAR----------*/

.navbar{
    position: fixed;
    top: 0;

    width: 100%;
    height: 10vh;
    z-index: 999;
    background-color: #101124;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    
}

.navbar__logo{ 
    position: relative;
    z-index: 999;
    width: 75px;
    height: 75px;
    background-image: url("img/logofest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.navbar__list{
    display: flex;
    flex-direction: column;
    width: 0;
    height: auto;
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: #101124;
}

.show-nav .navbar__list{
    width: 100%;
}

.navbar__link{
    padding: 5px 10px;
    color: #B0E1FA;
    font-weight: 400;
}

.navbar__link > a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #B0E1FA;
    text-shadow: 2px 2px 8px #2667FF;
    transition: all .4s ease-in-out ;
}

.navbar__link > a:hover {
    padding-left: 2rem;
}

.burger{
    display: block;
    position: relative;
    padding: 0;
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.bar{
    display: block;
    width: 35px;
    height: 4px;
    background-color: #B0E1FA;
    box-shadow: 2px 2px 8px #2667FF;
}

.bar::before, .bar::after{
    content: "";
    width: 35px;
    height: 4px;
    position: absolute;
    left: 0;
    background-color: #B0E1FA;
    box-shadow: 2px 2px 8px #2667FF;
}

.bar::before{
    transform: translateY(12px);
}

.bar::after{
    transform: translateY(24px);
}





/*----------HEADER----------*/

header{
    position: relative;
    height: 90vh;
    width: 100% ;
    margin-bottom: 11vh;
    background-image: url("img/snoop2pac.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h1{
    position: absolute;
    top: 45%;
    left: 10%;
    color: #B0E1FA;
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 2px 20px #2667FF;

    animation-name: titleShow;
    animation-duration: 2s;
}

@keyframes titleShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}




/*----------SECTIONS----------*/

section{
    margin-bottom: 11vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*----------ARTISTES----------*/

h2{
    color: #B0E1FA;
    text-shadow: 2px 2px 20px #2667FF;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
}

.artists__title{
    height: 22.5vh;
    text-align: center;
    
    display: flex;
    align-items: center;
}

.artists{
    position: relative;
    margin: 0;
}

.artists__rock{
    width: 100%;
}

#artists__anchor{
    position: absolute;
    top:-50px;
    left: 0;
    width: 100%;
    height: 20px;

}

.transi{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: #f7f7ff;
    height: 22.5vh;
}

.artists__rap{
    width: 100%;
}

.artists__photo{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: end;

    width: 100%;
    height: 30vh;
    background-color: #f7f7ff;
    border-radius: 15px;
    box-shadow: 2px 2px 20px #2667FF;


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-bottom: 100px;

}

h3{
    color: #f7f7ff;
    font-size: 35px;
    font-weight: 200;
    font-style: normal;
}

.artists__name{
    position: absolute;
    width: 100%;
    bottom: -70px;
    text-align: center;
    font-size: 30px;
    color: white;

}

.RSt{
    bottom: -90px;
}

.NB{
    font-size: 26px;
}

.xxxt{
    font-size: 30px;
}

.ACDC{
    background-image: url("img/rock/ACDC.png");
}

.Queen{
    background-image: url("img/rock/Queen.png");
}

.RS{
    background-image: url("img/rock/RS.jpg");
}

.Nirvana{
    background-image: url("img/rock/Nirvana.jpg");
}

.RamJam{
    background-image: url("img/rock/RAMJAM.jpg");
}


.pinkfloyd{
    background-image: url("img/rock/pink.jpeg");
}

.u2{
    background-image: url("img/rock/U2.jpeg");
}

.gunnroses{
    background-image: url("img/rock/gunnroses.jpeg");
}

.police{
    background-image: url("img/rock/police.jpeg");
}

.redchilli{
    background-image: url("img/rock/redhot.jpeg");
}

.beatles{
    background-image: url("img/rock/beatles.webp");
}

.aerosmith{
    background-image: url("img/rock/aerosmith.jpeg");
}

.scorpions{
    background-image: url("img/rock/scorpions.jpeg");
}

.bonjovi{
    background-image: url("img/rock/bonjovi.jpeg");
}




.Tupac{
    background-image: url("img/rap/Tupac.jpg");
}

.TNB{
    background-image: url("img/rap/TNB.jpg");
}

.XXX{
    background-image: url("img/rap/XXX.png");
}

.PopSmoke{
    background-image: url("img/rap/popsmoke.jpg");
}

.Drake{
    background-image: url("img/rap/drake.jpg");
}

.Eminem{
    background-image: url("img/rap/eminem.png");
}

.Takeoff{
    background-image: url("img/rap/takeoff.jpeg");
}

.Future{
    background-image: url("img/rap/Future.png");
}

.Snoop{
    background-image: url("img/rap/snoop.jpeg");
    background-position: 50% 10%;
}

.Dre{
    background-image: url("img/rap/dre.jpeg");
}

.Travis{
    background-image: url("img/rap/travis.jpeg");
}



.cent{
    background-image: url("img/rap/50cent.png");
}


.blue{
    background-image: url("img/rap/blueface.webp");
}

.icecube{
    background-image: url("img/rap/icecube.webp");
    background-position: 50% 25%;

}

.kendrick{
    background-image: url("img/rap/kendrick.webp");
    background-position: 50% 10%;

}



.miller{
    background-image: url("img/rap/macmiller.jpeg");
    background-position: 50% 5%;

}

.asap{
    background-image: url("img/rap/asap.webp");
}

.jayz{
    background-image: url("img/rap/jayZ.jpeg");
}


.juice{
    background-image: url("img/rap/juice.jpeg");
    background-position: 50% 10%;

}


.dmx{
    background-image: url("img/rap/dmx.webp");
    background-position: 50% 10%;

}










/*----------FOOTER----------*/

footer{
    width: 100%;
    height: 10vh;
    color: #f7f7ff;
    font-size: 16px;
    font-weight: 200;
    display: flex;
    align-items: center;

}

.footer__item{
    display: inline-block;
    height: 50%;
    text-align: center;
    padding: 20px;
}



/*----------DEVICES------------------------------------------------*/
/*----------DEVICES------------------------------------------------*/
/*----------DEVICES------------------------------------------------*/



@media screen and (min-width:1024px) {


    /*----------NAVBAR----------*/
    .navbar__logo{ 
        left: 50%;
    }
    
    .navbar__list{
        flex-direction: row;
        position: relative;
        top: 8%;
        right: 0;
        width: 100%;
        height: auto;
        background-color: #101124;
        justify-content:end;
    }
    
    .navbar__link > a::after{
        display: block;
        content:"";
        width: 0;
        height: 2px;
        margin-top: 3px;
        background-color: #B0E1FA;
        box-shadow: 2px 2px 8px #2667FF;
        transition:width .4s;
    }
    
    .navbar__link > a {
        display: block;
        padding: 0;
        color: #B0E1FA;
        text-shadow: 2px 2px 8px #2667FF;
        transition: all .4s ease-in-out ;
    }
    
    .navbar__link > a:hover {
        padding-left: 0;
    }
    
    .navbar__link:hover > a::after{
        width: 100%;
    }
    .burger{
        display: none;
    }
    
    /*----------HEADER----------*/
    
    h1{
        font-size: 150px;
        top: 46%;
    }

    
    /*----------SECTION----------*/
    
    section{
        padding: 0px 15% 0px 15%;
    }

    /*----------ARTISTES----------*/

.ROCK{
    background-color: #101124;
}

h2{
    color: #B0E1FA;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
}
    
.artists__title{
    height: 22.5vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.ROCK .artists__photo .artists__name{
    position: absolute;
    top: 0;
    right: 0%;
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 20px #03045F;
    background-color: #2667FF;
    box-shadow: 2px 2px 20px #2667FF;
    overflow-x: hidden;
    transition: .4s
}

.ROCK .artists__photo:hover > .artists__name{
    width: 50%;
}

.ROCK .artists__photo{
    background-color: #101124;
    transition: .4s

}

.ROCK .artists__photo:hover{
    background-position: -30% 10%;
    background-size: 70%;
}



.RAP{
    background-color: #101124;

}

.RAP .artists__photo{
    display: inline-block;
    width: 23%;
    height: 50vh;
}

.artists__name{
    color: white;
}

.RAP .artists__photo .artists__name{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2667FF;
    overflow-x: hidden;
    transition: .4s
}

.RAP .artists__photo:hover > .artists__name{
    height: 25%;
}

.RAP .artists__photo{
    background-color: #101124;
    opacity: 0.75;
    transition: .4s

}

.RAP .artists__photo:hover{
    opacity: 1;
}




.ACDC{
    background-position: 50% 20%;
}

.Queen{
    background-position: 50% 30%;
}

.RS{
    background-position: 50% 10%;
}

.Nirvana{
    background-position: 50% 15%;
}

.RamJam{
    background-position: 50% 20%;
}

.pinkfloyd{
    background-position: 50% 25%;
}

.u2{
    background-position: 50% 30%;
}

.gunnroses{
    background-position: 50% 20%;
}

.police{
    background-position: 50% 55%;
}

.redchilli{
    background-position: 50% 20%;
}

.beatles{
    background-position: 50% 20%;
}

.aerosmith{
    background-position: 50% 0%;
}

.scorpions{
    background-position: 50% 20%;
}

.bonjovi{
    background-position: 50% 20%;
}




.Tupac{
    background-position: 50% 20%;
}

.TNB{
    background-position: 60% 50%;
}


.PopSmoke{
    background-position: 50% 35%;
}

.Drake{
    background-position: 50% 20%;   
}

.Eminem{
    background-position: 50% 30%;
}

.Takeoff{
    background-position: 50% 30%;
}

.Future{
    background-position: 50% 30%;
}

/*----------PLACE----------*/

.place{
    margin-bottom: 11vh;
}

.place__title{
    color: #f7f7ff;
    position: relative;
    left: -20%;
}

/*----------FOOTER----------*/

footer{
    padding-bottom: 20px;
    padding-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.footer__item{
    height: 100%;
}

}