/*@import url("https://use.typekit.net/isx8per.css");*/

@font-face{
    src: url(font/Ailerons-Typeface.otf);
    font-family: ailerons;
}
@font-face{
    src: url(font/Biome-W01-Regular-1.ttf);
    font-family: Biome;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #101124;
    font-family: ailerons;
    color: #03045F;
    
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

p{
    font-family: Biome;
}
/*----------NAVBAR----------*/

.navbar{
    position: fixed;
    top: 0;

    width: 100%;
    height: 10vh;
    z-index: 999;
    background-color: #101124;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    
}

.navbar__logo{ 
    position: relative;
    z-index: 999;
    width: 75px;
    height: 75px;
    background-image: url("img/logofest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.navbar__list{
    display: flex;
    flex-direction: column;
    width: 0;
    height: auto;
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: #101124;
}

.show-nav .navbar__list{
    width: 100%;
}

.navbar__link{
    padding: 5px 10px;
    color: #B0E1FA;
    font-weight: 400;
}

.navbar__link > a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #B0E1FA;
    text-shadow: 2px 2px 8px #2667FF;
    transition: all .4s ease-in-out ;
}

.navbar__link > a:hover {
    padding-left: 2rem;
}

.burger{
    display: block;
    position: relative;
    padding: 0;
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.bar{
    display: block;
    width: 35px;
    height: 4px;
    background-color: #B0E1FA;
    box-shadow: 2px 2px 8px #2667FF;
}

.bar::before, .bar::after{
    content: "";
    width: 35px;
    height: 4px;
    position: absolute;
    left: 0;
    background-color: #B0E1FA;
    box-shadow: 2px 2px 8px #2667FF;
}

.bar::before{
    transform: translateY(12px);
}

.bar::after{
    transform: translateY(24px);
}





/*----------HEADER----------*/

header{
    position: relative;
    height: 90vh;
    width: 100% ;
    margin-bottom: 11vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("img/placebeach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h1{
    position: absolute;
    top: 45%;
    left: 10%;
    color: #B0E1FA;
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 2px 20px #2667FF;

    animation-name: titleShow;
    animation-duration: 2s;
}

@keyframes titleShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}




/*----------SECTIONS----------*/

section{
    margin-bottom: 11vh;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section__title{
    display: block;
    color: #B0E1FA;
    text-shadow:2px 2px 20px #2667FF;
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-size: 32px;
}


/*----------PlACE----------*/

.place{
    width: 100%;
    
    margin-bottom: 11vh;
}

.place__img{
    width: 100%;
    height: 500px;
    background-image: url("img/placebeach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 45px;
}




/*----------TRANSPORT----------*/
.transport{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.transport__way>h3{
    width: 100%;
    font-size: 38px;
    position: relative;
    top: 40%;
    text-align: center;

    transition: .4s ease-in-out;
}

.transport__way{
    position: relative;
    width: 100%;
    height: 250px;
    margin: 10px 0px;

    color: #B0E1FA;
    text-shadow: 2px 2px 20px #2667FF;
    box-shadow: 2px 2px 20px #2667FF;
    border-radius: 15px;


    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    transition: .4s ease-in-out;
}

.transport__way:hover{
    height: 500px;
}

.transport__way:hover > h3{
   top: 10%;
}

.transport__way:hover > h3{
    top: 10%;
 }

.transport__desc{
    position: relative;
    top: 50%;
    width: 95%;
    height: 0%;
    background-color: #03055fa2;
    box-shadow: 2px 2px 20px #2667FF;
    border-radius: 15px;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: .4s ease-in-out;

    padding: 8px;
}



.transport__way:hover > .transport__desc{
    top: 8%;
    height: 68%;
 }




.plane{
    background-image: url("img/plane.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}

.car{
    background-image: url("img/car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}



.bus{
    background-image: url("img/bus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}



.hotel{
    background-image: url("img/hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}





/*----------FOOTER----------*/

footer{
    width: 100%;
    height: 10vh;
    color: #f7f7ff;
    font-size: 16px;
    font-weight: 200;
    display: flex;
    align-items: center;
    text-shadow: none;

}

.footer__item{
    display: inline-block;
    height: 50%;
    text-align: center;
    padding: 20px;
}




/*----------DEVICES------------------------------------------------*/
/*----------DEVICES------------------------------------------------*/
/*----------DEVICES------------------------------------------------*/



@media screen and (min-width:1024px) {


    /*----------NAVBAR----------*/
    .navbar__logo{ 
        left: 50%;
    }
    
    .navbar__list{
        flex-direction: row;
        position: relative;
        top: 8%;
        right: 0;
        width: 100%;
        height: auto;
        background-color: #101124;
        justify-content:end;
    }
    
    .navbar__link > a::after{
        display: block;
        content:"";
        width: 0;
        height: 2px;
        margin-top: 3px;
        background-color: #B0E1FA;
        box-shadow: 2px 2px 8px #2667FF;
        transition:width .4s;
    }
    
    .navbar__link > a {
        display: block;
        padding: 0;
        color: #B0E1FA;
        text-shadow: 2px 2px 8px #2667FF;
        transition: all .4s ease-in-out ;
    }
    
    .navbar__link > a:hover {
        padding-left: 0;
    }
    
    .navbar__link:hover > a::after{
        width: 100%;
    }
    .burger{
        display: none;
    }
    
    /*----------HEADER----------*/
    
    h1{
        font-size: 150px;
        top: 46%;
        left: 5%;
    }

    
    /*----------SECTION----------*/
    
    section{
        padding: 0px 15% 0px 15%;
    }

    h2{
        color: #B0E1FA;
        font-weight: 700;
        font-style: italic;
    }

    .section__title{
        font-size: 60px;
    }




    /*----------TRANSPORT----------*/


    .transport__desc> p{
        padding: 16px;
        font-size: 24px;
    }
    
    .transport__way>h3{
        width: 100%;
        font-size: 38px;
        position: relative;
        top: 40%;
        text-align: center;
    
        transition: .4s ease-in-out;





    }
    /*----------FOOTER----------*/

footer{
    padding-bottom: 20px;
    padding-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.footer__item{
    height: 100%;
}

}